<header>
  <h1> Phone Store </h1>
  <nav>
    <a routerLink="/"> Home </a>
    <a routerLink="/phones"> Our Phones </a>
    <a *ngIf="!userThang.currentUser"
        routerLink="/join">
        Join
    </a>
    <button *ngIf="userThang.currentUser"
      (click)="startLogOutAjax()">
      LogOut
  </button>
  </nav>
  <div *ngIf="userThang.currentUser">
    <p>
      Hello, <b> {{ userThang.currentUser.username }} </b>
    </p>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <p>
    Made with 🆘 at Ironhack.
  </p>
</footer>
